defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres
  session_secret: ad53dc062ccde21542ef7f161d3e7a2d
  default_pagination_count: 10

development:
  <<: *defaults
  database: sinatra_pg_development
  host: localhost


test:
  <<: *defaults
  database: sinatra_pg_test
  host: localhost

production:
  <<: *defaults
  database: sinatra_pg_production
  host: localhost
